<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_header') %>
  <title>Admin</title>
</head>

<body>
  <div class="container">
  <h1>results admin</h1>

  <table class="table table-bordered table-hover table-striped">
    <tr>
       <th>Poll Name</th><th>Link to Poll</th><th>Link to Result</th><th>Delete Poll</th>
    </tr>

    <% for (var i = 0; i < adminTable.length;  i++) { %>
     <tr>
       <td><%= adminTable[i].name_required %></td>
       <td> <a href = "/submissions/<%= adminTable[i].sub_link %>">localhost:8080/submissions/<%= adminTable[i].sub_link %></td>
       <td><a href = "/results/<%= adminTable[i].sub_link %>">localhost:8080/results/<%= adminTable[i].admin_link %></td>


       <td><form method="POST" action="/admin/<%= user_ID %>/<%= adminTable[i].id %>/delete"><button type="submit">Delete</button></td>
     </tr>
    <% } %>
 </table>
</div>


</body>

<!-- JavaScript Bundle with Popper -->
<footer>
  <%- include('partials/_footer') %>
</footer>

</html>
