<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Submissions</title>
    <%- include('partials/_header') %>
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/submission.css" />


  </head>

  <body>
    <section class="main">
      <h1>submissions</h1>
      <form>
        <input id = "user_input_name" type="text" name="name" placeholder="name" />
        <div>Question: <%= options[0].name_required %></div>

        <ul id="options-container">
          <% options.forEach((option, i) => { %>
            <li class="ui-state-default" id = '<%= option.id%>'>
              <span><%= option.title %></span>
              <input type='hidden' value='<%= option%>'/>
            </li>
            <%  }) %>
        </ul>
        <button type="submit" id="submitOptionsbtn">submit</button>
      </form>
    </section>
  </body>
  <footer><%- include('partials/_footer') %></footer>
</html>
